@font-face {
    font-family: 'Mad Hacker';
    font-style: normal;
    font-weight: bold;
    src: local(''), url('/fonts/Mad Hacker.ttf') format('truetype');
}

@font-face {
    font-family: 'Edit';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('/fonts/editundo.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 10px;

    background-color: #FFFAEB;
}

h1 {
    margin: 0;
    padding: 0;

    font-family: 'Mad Hacker';

    user-select: none;
}

p {
    margin: 0;
    padding: 0;
}
